.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 900px;
    height: 450px;
    display: flex;
    margin: 0 8%;
}

.ilustracao {
    width: 50%;
    display: flex;
    align-items: center;
}

.ilustracao img {
    width: 100%;
}

.formulario {
    width: 50%;
    display: flex;
    align-items: center;
}

.form {
    width: 100%;
}

.img {
    width: 70px;
    display: block;
    margin: 0 auto;
}

.botoes {
    display: flex;
    gap: 8px;
}

@media (max-width:600px) {
    .ilustracao {
        width: 0%;
    }

    .formulario {
        width: 100%;
    }
}