.card {
  display: flex;
  flex-direction: column;
  min-width: 140px;
  width: 140px;
}

.capa {
  padding: 8px;
  box-shadow: 3px 5px 8px 0px #00000042;
  position: relative;
  width: 140px;
  height: 200px;
  object-fit: cover;
}


.card h3 {
  font-size: 15px;
  margin-top: 8px;
}

.card h4 {
  font-size: 12px;
}