.header {
  background-color: rgb(121, 165, 165);
  display: flex;
  justify-content: center;
}

.container {
  width: 1020px;
  height: 70px;
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
}

.navLink {
  list-style-type: none;
}

.navLink a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}