@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: rgba(48, 116, 128, 0.418) !important;
  font-size: 30px !important;
}